@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

* {
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

.container {
  position: relative; }

.wrapper {
  margin: 0 auto;
  width: 70%; }
  @media screen and (max-width: 1440px) {
    .wrapper {
      width: 90%; } }

.hide {
  display: none; }

.show {
  display: block; }

.flex-show {
  display: flex; }

.header {
  padding: 1rem 0;
  background-color: #0078AA;
  color: #FCF8E8; }
  .header__logo {
    font-family: "Noto Serif JP", serif;
    font-size: 2rem;
    font-weight: 500; }

.home {
  height: 92vh;
  background-color: #FFFFDE; }
  .home .wrapper {
    height: inherit;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 1024px) {
      .home .wrapper {
        flex-direction: column; } }
  .home__form {
    padding: 5rem 0;
    flex-basis: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem; }
    @media screen and (max-width: 1024px) {
      .home__form {
        padding: 2rem 0; } }
    .home__form__inp__field {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid #0078AA;
      background: none;
      outline: none;
      font-size: 1.6rem;
      font-weight: 500; }
    .home__form__add__btn {
      border: 1px solid #0078AA;
      border-radius: 50%;
      background-color: #0078AA;
      color: #FCF8E8;
      cursor: pointer;
      text-indent: -999999px; }
      .home__form__add__btn::before {
        padding: 17px 14px 17px 14px;
        content: "+";
        color: inherit;
        font-family: "FontAwesome";
        font-size: 1.3rem;
        font-weight: 500;
        float: right;
        text-indent: 0; }
      .home__form__add__btn:hover {
        background-color: transparent;
        color: #0078AA; }
  .home__todo__list {
    padding: 2rem;
    border-left: 1px solid #0078AA;
    flex-basis: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px; }
    @media screen and (max-width: 1024px) {
      .home__todo__list {
        width: 100%;
        padding: 5rem 0;
        border: none;
        border-top: 1px solid #0078AA; } }
    .home__todo__list__item {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem; }
      .home__todo__list__item__text {
        padding: 10px 0;
        border-radius: 25px;
        flex-basis: 80%;
        background-color: #0078AA;
        color: #FCF8E8;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500; }
      .home__todo__list__item__clear {
        border: 1px solid #0078AA;
        border-radius: 50%;
        background-color: #0078AA;
        color: #FCF8E8;
        cursor: pointer;
        text-indent: -999999px; }
        .home__todo__list__item__clear::before {
          padding: 12px 16px 12px 16px;
          content: "";
          color: inherit;
          font-family: "FontAwesome";
          font-size: 1.3rem;
          font-weight: 500;
          float: right;
          text-indent: 0; }
        .home__todo__list__item__clear:hover {
          background-color: transparent;
          color: #0078AA; }
      .home__todo__list__item__edit {
        border: 1px solid #0078AA;
        border-radius: 50%;
        background-color: #0078AA;
        color: #FCF8E8;
        cursor: pointer;
        text-indent: -999999px; }
        .home__todo__list__item__edit::before {
          padding: 12px 12px 12px 14px;
          content: "";
          color: inherit;
          font-family: "FontAwesome";
          font-size: 1.3rem;
          font-weight: 500;
          float: right;
          text-indent: 0; }
        .home__todo__list__item__edit:hover {
          background-color: transparent;
          color: #0078AA; }
      .home__todo__list__item__clear__all {
        margin-top: 1rem;
        align-self: flex-end;
        border: 1px solid #0078AA;
        border-radius: 50%;
        background-color: #0078AA;
        color: #FCF8E8;
        cursor: pointer;
        text-indent: -999999px; }
        .home__todo__list__item__clear__all::before {
          padding: 12px 12px 12px 14px;
          content: "";
          color: inherit;
          font-family: "FontAwesome";
          font-size: 1.3rem;
          font-weight: 500;
          float: right;
          text-indent: 0; }
        .home__todo__list__item__clear__all:hover {
          background-color: transparent;
          color: #0078AA; }
